<h2>New interview for <%= @screen.candidate.name -%></h2>
<%= error_messages_for :interview %>

<% form_for(:screen, :url => hiring_screens_url) do |f| %>
  <div>
    <%= f.label :scheduled_at, "Phone Screen Date" -%>
    <div><%= calendar_date_select_tag "screen[scheduled_at]" -%></div>
  </div>

  <div>
    <%= f.label :time, "Time" -%>
    <div><%= f.text_field :time, :value => @screen.pretty_time -%></div>
  </div>

  <div>
    <%= f.label :screener, "Screener" -%>
    <div>
      <%= f.select :screener_id, User.find(:all).map {|u| [u.login, u.id] } -%>
    </div>
    </div>

  <div>
    <%= f.label :notes, "Notes" -%>
    <div><%= f.text_area :notes, :style => 'height: 10em;' -%></div>
  </div>

  <%= f.hidden_field :candidate_id, :value => @screen.candidate.id -%>

  <p>
    <%= f.submit "Create Phone Screen" %>
  </p>
<% end %>

<%= link_to 'Back', hiring_candidate_path(@screen.candidate) %>
