<h1>Editing attachment</h1>

<%= error_messages_for :attachment %>

<% form_for(@attachment) do |f| %>
  <p>
    <b>Attachable type</b><br />
    <%= f.text_field :attachable_type %>
  </p>

  <p>
    <b>Attachable</b><br />
    <%= f.text_field :attachable_id %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @attachment %> |
<%= link_to 'Back', attachments_path %>
