<h2><%= link_to @interview.candidate.name, hiring_candidate_url(@interview.candidate) -%>:
  Interviewing on <%= @interview.scheduled_at.strftime('%B %e, %Y (%A)') -%></h2>

<p><%= @interview.notes -%></p>

<ul id="interviewings">
  <%= render :partial => 'hiring/interviewings/row',
             :collection => @interview.interviewings -%>
</ul>

<%= sortable_element 'interviewings',
                     :method => :post,
                     :url => order_hiring_interview_path(@interview),
                     :handle => "drag"
%>


<%= link_to 'Edit', edit_hiring_interview_path(@interview) %> |
<%= link_to 'Back', hiring_interviews_path %>
